circle,
path {
    cursor: pointer;
}

circle {
    fill: none;
    pointer-events: all;
}

#dropbox-connect {
    display: none;
}

.centerText {
    text-anchor: middle;

}

#centerFolderName {
    font-size: 20px;
    font-weight: bold;
}

#centerFolderSize {
    font-size: 20px;
}